/* BRANDING COLORS */
/* IMAGE PATHS */

/* BRANDING COLORS */
/* IMAGE PATHS */
.md-sidenav-left {
  background-color: #3793BB; }

md-toolbar {
  background-color: orange; }

h1 {
  text-transform: uppercase; }
