/* Branding */
/* Image Nmaes */
.panel-info {
  background-color: #5BC0DE; }

.panel-success {
  background-color: #5CB85C; }

.panel-warning {
  background-color: #F0AD4E; }

.panel-danger {
  background-color: #D9534F; }

sidebar-left {
  background-color: aquamarine; }

h1 {
  color: yellow; }
