/* Branding */
$info:    #5BC0DE;
$success: #5CB85C;
$warning: #F0AD4E;
$danger:  #D9534F;

/* Image Nmaes */

.panel-info {
  background-color: $info;
}
.panel-success {
  background-color: $success;
}
.panel-warning {
  background-color: $warning;
}
.panel-danger {
  background-color: $danger;
}
