md-sidenav.md-sidenav-left.md-whiteframe-z2(md-is-locked-open="$mdMedia('gt-md')" ui-view="left")
div(layout="column", flex="1")
    md-toolbar(ui-view="top")
    div(ui-view="", flex="1")
    div(ui-view="bottom")

